@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Authenticated</h3>

<ul>
    @foreach (var claims in User.Claims)
    {
        <li> <strong>@claims.Type</strong> : <em>@claims.Value</em></li>
    }
</ul>
